/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
	min-height: 12px;
	min-width: 0;
	font-family: "IBM Plex Mono", "DejaVuSansM Nerd Font";
	font-size: 12px;
	font-weight: 400;
}

window#waybar {
	background: transparent;
}

.modules-right * {
	margin-left: 10px;
}

#workspaces {
	border: 2px solid #4a5d46;
	border-radius: 5px;
	background: #312320;
}

#workspaces button {
	background: #312320;
	padding: 5px;
	border: 1px #ffffff;
	background: transparent;
	color: white;
}

#workspaces button.active {
	border-bottom: 3px solid #cc5500;
	border-radius: 0;
	font-weight: 600;
}

#workspaces button.focused {
	border-bottom: 3px solid #cc5500;
}

#hardware {
	border: 2px solid #4a5d46;
	border-radius: 5px;
	background: #312320;
	padding: 0 8px;
}

#control {
	border: 2px solid #4a5d46;
	border-radius: 5px;
	background: #312320;
	padding: 0 8px;
}

#clock {
	border: 2px solid #4a5d46;
	border-radius: 5px;
	background: #312320;
	padding: 0 8px;
}

tooltip {
	border-radius: 12px;
	background-color: #ffffff;
	opacity: 0.9;
	padding: 10px;
	margin: 0px;
}

tooltip label {
	color: #000000;
}
