/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
	min-height: 10px;
	min-width: 0;
	font-family: "Necto Mono", "IBM Plex Mono";
	font-size: 11px;
	font-weight: bold;
	/* font-weight: 400; */
	color: #F7DFCA;
}

window#waybar {
	background: transparent;
	color: #F7DFCA;
}

.modules-right * {
	margin: 0 0 0 5px;
}

#workspaces {
	border: 2px solid #4a5d46;
	border-radius: 0px;
	background: #312320;
	padding: 0 5px;
}

#workspaces button {
	background: #312320;
	padding: 1px 3px;
	border: 1px #ffffff;
	background: transparent;
	border-bottom: 2px solid #4a5d46;
	border-radius: 0;
}

#workspaces button.empty {
	border-bottom: 2px solid #312320;
}

#workspaces button.active {
	border-bottom: 2px solid #cc5500;
	border-radius: 0;
	font-weight: 600;
}

#workspaces button.focused {
	border-bottom: 2px solid #cc5500;
}

#hardware {
	border: 2px solid #4a5d46;
	border-radius: 0px;
	background: #312320;
	padding: 0 6px;
}

#network {
	margin-left: 0;
}

#pulseaudio {
	margin-left: 0;
}

#control {
	border: 2px solid #4a5d46;
	border-radius: 0px;
	background: #312320;
	padding: 0 6px;
}

#battery {
	border: 2px solid #4a5d46;
	border-radius: 0px;
	background: #312320;
	padding: 0 6px;
}

#clock {
	border: 2px solid #4a5d46;
	border-radius: 0px;
	background: #312320;
	padding: 0 9px;
}

tooltip {
	border-radius: 0px;
	background-color: #312320;
	padding: 10px;
	margin: 0px;
	border: 2px solid #4a5d46;
}
